#admin-options {
	float: left;
	width: 660px;
}

#admin-affiliates {
	float: right;
	width: 300px;
	margin: 20px 0;
}

#admin-affiliates embed {
	margin-bottom: 20px;
}

#admin-affiliates ul {
	margin: 0 0 30px 0;
	padding: 0;
	list-style-type: none;
}

#admin-affiliates ul li {
	margin: 0 0 8px 0;
	padding: 0;
	list-style-type: none;
	font-size: 12px;
}