#content .post-comments li.post-comments-add {
	height: 18px;
}

#content li.post-comments-add span, #content .navigation .left span, #content .navigation .right span {
	cursor: pointer;
}

#content .navigation .left, #content .navigation .right {
	height: 36px;
}